// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.uk-thumbnail {
    .uk-thumbnail-caption {
        max-height: 25px;
        overflow: hidden;
    }

    &:hover {
        .uk-thumbnail-caption {
            max-height: 250px;
        }
    }
}